
body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    /* Rubric: Linear gradient color */
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}

/* Rubric: Centered Wrapper */
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    min-width: 960px;
    box-shadow: 3px 3px 3px #333333;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    /* Reusing homehero.jpg as the fourth image for the header */
    background-image: url(homehero.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 120px;
    padding-top: 30px;
    text-align: center;
}

h1 {
    margin-top: 0; /* Rubric requirement */
    margin-bottom: 0;
}

nav {
    background-color: #BBDEFB;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

nav a {
    text-decoration: none; /* Rubric: No underline */
    padding-left: 0.5em;
    padding-right: 0.5em;
}

main {
    padding: 1px 20px 20px 20px; /* Rubric: Specific padding */
    display: block;
}

h2, h3 {
    color: #1976D2;
    text-shadow: 1px 1px 1px #CCCCCC; /* Rubric: Text shadow */
}

/* Hero Section Styles */
#homehero {
    height: 300px;
    background-image: url(homehero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#yurthero {
    height: 300px;
    background-image: url(yurthero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#trailhero {
    height: 300px;
    background-image: url(trailhero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contact {
    font-size: 90%;
}

footer {
    font-size: 70%;
    font-style: italic;
    text-align: center;
    padding: 2em;
}

.resort {
    color: #002171;
    font-weight: bold;
}
