header { 
  background-color: #000033;
  color: #FFFFFF;
}

h1 { 
  margin-bottom: 0;
}

nav { 
  font-weight: bold;
  background-color: #CCCCFF;
}

footer { 
  font-size: .70em;
  font-style: italic;
  text-align: center;
}

.resort { 
  color: #000033;
  font-weight: bold;
}

#contact { 
  font-size: 0.90em;
}
