body {
  background-color: #FFFFFF;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #002171;
  color: #FFFFFF;
}

h1 {
  margin-bottom: 0;
}

nav {
  background-color: #BBDEFB;
  font-weight: bold;
}

h2 {
  color: #1976D2;
}

h3 {
  color: #002171;
}

.resort {
  color: #002171;
  font-weight: bold;
}

#contact {
  font-size: 90%;
}

footer {
  font-size: 70%;
  font-style: italic;
}
