* {
    margin: 0;
}

body {
    background-color: #FFFFFF;
    color: #333333;
}

header {
    background-color: #000033;
    color: #FFFFFF;
}

nav {
    background-color: #90CAF9;
}

h2 {
    color: #0000CC;
}

h3 {
    color: #000066;
}

.contact {
    font-family: Arial, sans-serif;
}
